/*
*= require leaflet.css
*= require place.css
*= require ekko-lightbox.css
*= require atlas.css
*/


.place-tabs .nav-tabs .active a {
    font-size: 20px;
    color: #90C640;
    filter: none;
}

.place-tabs .nav-tabs a {
    font-size: 20px;
    color: #874680;
    filter: none;
}


